/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500&family=Noto+Sans+KR:wght@300;400;500;700&family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
  /* color */
  --main-color: #ffd22d;
  --point-color: #234330;
  --bg-color: #fffff9;
  --best-color: #edeae5;
  --footer-color: #f0f0f0;

  /* font */
  --kor-font: 'Noto Sans KR', sans-serif;
  --eng-font: 'Poppins', sans-serif;
  --point-font: 'Cormorant Garamond', serif;
}

/* bootstrap dropdown menu */
.dropdown-menu {
  --bs-dropdown-border-color: #eaeaea;
  --bs-dropdown-link-hover-bg: rgba(238, 238, 238, 0.5);
  --bs-dropdown-link-active-color: #000;
  --bs-dropdown-link-active-bg: #eee;
}

/* common */
* {
  box-sizing: border-box;
}

body {
  font-family: var(--kor-font);
  background: var(--bg-color);
}

a {
  color: #333;
}

a:hover {
  color: #000;
}

.container {
  width: 1320px;
  padding: 150px 0;
}

/* --- HEADER */
header {
  width: 100%;
  height: 120px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  font-size: 14px;
  padding-top: 35px;
  z-index: 999;
  background: #fff;
  transition: all 0.4s ease;
}

header .container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  margin-top: 0;
}

/* banner */
header .banner {
  width: 100%;
  height: 35px;
  text-align: center;
  line-height: 35px;
  font-size: 12px;
  background: var(--main-color);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
/* banner end */

header .main-menu {
  display: flex;
}

header .main-menu > li {
  padding: 8px 10px;
  height: 87px;
  position: relative;
  display: flex;
  align-items: center;
}

header .main-menu > li:hover > a {
  color: #000;
  font-weight: 500;
}

header .main-menu li .sub-menu {
  width: 200px;
  top: 60px;
  left: 0;
  position: absolute;
  display: none;
  font-size: 12px;
  border-radius: 0;
}

header .main-menu .dropdown-item {
  padding: 15px 20px;
}

nav li.dropdown:hover > ul.dropdown-menu {
  display: block;
}

header h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 8px;
}
header h1 img {
  width: 143px;
  height: 37px;
}

header .h_right {
  display: flex;
  align-items: center;
}

header .h_right ul {
  display: flex;
}

header .h_right ul li {
  padding: 8px 10px;
}

header .h_right ul li:hover a {
  color: #000;
  font-weight: 500;
}

header .h_right .search {
  padding: 8px 10px;
  cursor: pointer;
  position: relative;
}

header .h_right .search i {
  display: block;
  width: 100%;
}

header .search_bg {
  width: 100%;
  height: 80px;
  position: absolute;
  background: #fff;
  top: 78%;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s linear;
}

header .search_bg.active {
  opacity: 1;
}

header .search_bg input {
  width: 90%;
  font-size: 14px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 30px;
  border: none;
  outline: none;
}

header .search_bg input:focus {
  border-bottom: 1px solid #e6e7e8;
}

header .search_bg input::placeholder {
  color: #707070;
}

header .search_bg i {
  position: absolute;
  top: 50%;
  right: 0;
  display: block;
  margin-right: 50px;
  transform: translateY(-50%);
  font-size: 17px;
  cursor: pointer;
}

/* category */

.category {
  margin-top: 160px;
}

.category ul {
  margin-left: 100px;
  display: flex;
  align-items: center;
}

.category ul li {
  position: relative;
  margin-right: 30px;
}

.category ul li::after {
  content: '';
  display: block;
  position: absolute;
  top: 48%;
  bottom: 0;
  right: -15px;
  width: 6px;
  height: 6px;
  border: solid #888;
  border-width: 0 1px 1px 0;
  display: inline-block;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.category ul li:last-child::after {
  display: none;
}

.category ul li a {
  font-size: 12px;
  color: #444;
}

/* --- footer --- */
footer {
  width: 100%;
  height: 263px;
  background: var(--footer-color);
  text-align: center;
  padding-top: 38px;
}
footer .container {
  padding: 0;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
}

footer ul li {
  margin-right: 20px;
}

footer ul li:last-child {
  margin-right: 0;
}

footer ul li a {
  font-size: 15px;
}

footer ul li a:hover {
  color: var(--main-color);
}

footer .thick {
  font-weight: 500;
}

footer .grobal-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 34px;
}

footer .grobal-box .box {
  border: 1px solid #000;
  width: 137px;
  height: 30px;
  line-height: 28px;
  text-align: center;
  font-size: 12px;
  margin-left: 18px;
}

footer form select {
  border: none;
  border-right: 0px;
  border-top: 0px;
  background: none;
  outline: none;
}

footer p {
  margin-top: 35px;
  line-height: 1.6;
  font-size: 12px;
}
