@charset "utf-8";
@import url(reset.css);

/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500&family=Noto+Sans+KR:wght@300;400;500;700&family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
  /* color */
  --main-color: #ffd22d;
  --point-color: #234330;
  --bg-color: #fffff9;
  --best-color: #edeae5;
  --footer-color: #f0f0f0;

  /* font */
  --kor-font: 'Noto Sans KR', sans-serif;
  --eng-font: 'Poppins', sans-serif;
  --point-font: 'Cormorant Garamond', serif;
}

/* bootstrap dropdown menu */
.dropdown-menu {
  --bs-dropdown-border-color: #eaeaea;
  --bs-dropdown-link-hover-bg: rgba(238, 238, 238, 0.5);
  --bs-dropdown-link-active-color: #000;
  --bs-dropdown-link-active-bg: #eee;
}

/* common */
* {
  box-sizing: border-box;
}

body {
  font-family: var(--kor-font);
  background: var(--bg-color);
}

a {
  color: #333;
}

a:hover {
  color: #000;
}

.container {
  width: 1320px;
  padding: 150px 0;
}

.title {
  text-align: center;
  font-family: var(--eng-font);
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 100px;
  position: relative;
}

.title::after {
  content: '';
  display: block;
  width: 65px;
  height: 1px;
  position: absolute;
  left: 50%;
  top: 50px;
  transform: translate(-50%, -50%);
  background: #000;
}

/* layout */

header {
  width: 100%;
  height: 120px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  font-size: 14px;
  padding-top: 35px;
  z-index: 999;
  background: #fff;
  transition: all 0.4s ease;
}

header .container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  margin-top: 0;
}

/* banner */
header .banner {
  width: 100%;
  height: 35px;
  text-align: center;
  line-height: 35px;
  font-size: 12px;
  background: var(--main-color);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

/* banner end */

header .main-menu {
  display: flex;
}

header .main-menu > li {
  padding: 8px 10px;
  height: 87px;
  position: relative;
  display: flex;
  align-items: center;
}

header .main-menu > li:hover > a {
  color: #000;
  font-weight: 500;
}

header .main-menu li .sub-menu {
  width: 200px;
  top: 60px;
  left: 0;
  position: absolute;
  display: none;
  font-size: 12px;
  border-radius: 0;
}

header .main-menu .dropdown-item {
  padding: 15px 20px;
}

nav li.dropdown:hover > ul.dropdown-menu {
  display: block;
}

header h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 8px;
}
header h1 img {
  width: 143px;
  height: 37px;
}

header .h_right {
  display: flex;
  align-items: center;
}

header .h_right ul {
  display: flex;
}

header .h_right ul li {
  padding: 8px 10px;
}

header .h_right ul li:hover a {
  color: #000;
  font-weight: 500;
}

header .h_right .search {
  padding: 8px 10px;
  cursor: pointer;
  position: relative;
}

header .h_right .search i {
  display: block;
  width: 100%;
}

header .search_bg {
  width: 100%;
  height: 80px;
  position: absolute;
  background: #fff;
  top: 78%;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s linear;
}

header .search_bg.active {
  opacity: 1;
}

header .search_bg input {
  width: 90%;
  font-size: 14px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 30px;
  border: none;
  outline: none;
}

header .search_bg input:focus {
  border-bottom: 1px solid #e6e7e8;
}

header .search_bg input::placeholder {
  color: #707070;
}

header .search_bg i {
  position: absolute;
  top: 50%;
  right: 0;
  display: block;
  margin-right: 50px;
  transform: translateY(-50%);
  font-size: 17px;
  cursor: pointer;
}

/* --- title --- */

.img-box {
  width: 100%;
  height: 600px;
  margin-top: 120px;
  background: url('../image/main__bg.png') no-repeat center center/cover;
}

.img-box .contents {
  position: relative;
  left: 73%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 420px;
}

.img-box .txt h2 {
  font-size: 30px;
  margin-bottom: 23px;
  line-height: 1.3;
}

.img-box .txt p {
  line-height: 1.5;
  margin-bottom: 30px;
}

.img-box .txt .btn-p {
  width: 200px;
  height: 53px;
  border: 1px solid var(--point-color);
  line-height: 50px;
  transition: 0.3s linear;
  font-size: 14px;
}

.img-box .txt .btn-p:hover {
  color: #eeecdf;
  background-color: var(--point-color);
  border: 1px solid var(--point-color);
}

/* --- best-seller */
.bestseller {
  width: 100%;
  height: 100%;
}

.bestseller .items a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bestseller .items .item {
  width: 400px;
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease 0s;
  padding: 20px 12px;
}

.bestseller .items .item:hover {
  box-shadow: 2px 2px 10px #8e8d7d33;
}

.bestseller .items .item .item-img {
  width: 220px;
  height: 280px;
  padding: 18px 12px;
}

.bestseller .items .item .item-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.bestseller .items .item .star-rating {
  position: relative;
  right: -30%;
  top: 0;
  font-size: 14px;
  padding: 10px 0;
}

.bestseller .items .item .star-rating i {
  color: var(--main-color);
}

.bestseller .items .item .star-rating p {
  display: inline-block;
}

.bestseller .items .item .star-rating p > span {
  font-size: 15px;
  font-weight: 500;
}

.bestseller .items .item .description {
  width: 240px;
  position: relative;
  top: 2%;
  line-height: 1.5;
  text-align: center;
  font-size: 14px;
}

.bestseller .items .item .description p:first-child {
  padding-bottom: 10px;
}

.bestseller .items .item .description p:last-child {
  font-size: 17px;
  font-weight: 500;
}

/* --- vegan */
.vegan {
  width: 100%;
  height: 546px;
  background: var(--point-color);
  display: flex;
  position: relative;
}

.vegan .container {
  padding: 0;
}

.vegan .contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.vegan .contents .txt {
  text-align: center;
  font-family: var(--point-font);
  color: #fff;
  position: relative;
  left: 25%;
  top: 0;
  transform: translateX(-50%);
}

.vegan .contents .txt h2 {
  font-size: 28px;
}

.vegan .contents .txt .vegan__name {
  font-size: 60px;
  padding: 20px 0 50px;
}

.vegan .contents a {
  width: 50%;
}

.vegan .contents .vegan-img {
  width: 100%;
  /* height: 546px; */
  position: relative;
}

.vegan .contents .vegan-img span {
  font-family: var(--kor-font);
  color: #fff;
  font-size: 16px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  opacity: 0;
  transition: all 0.5s ease-in-out 0s;
}

.vegan .contents .vegan-img span::after {
  content: '';
  display: block;
  width: 95px;
  height: 1px;
  position: absolute;
  left: 50%;
  top: 25px;
  transform: translate(-50%, -50%);
  background: #fff;
}

.vegan .contents .vegan-img:hover span {
  opacity: 1;
}

.vegan .contents .vegan-img img {
  width: 100%;
  display: block;
}

.vegan .contents .vegan-img::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: #1b1b1b81;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* --- */
